@using Shared;
@{ 
    Layout = null;
}
<!DOCTYPE>
<html>
<head><title></title></head>
<body>
    <script type="text/javascript">
        var parts = ("; " + document.cookie).split("; @Constants.AUTH_TOKEN=");
        if (parts.length == 2) {
            var value = parts.pop().split(";").shift().trim();
            localStorage.setItem("@Constants.AUTH_TOKEN", value);
            document.cookie = "@Constants.AUTH_TOKEN=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
            document.location = "/";
        }
    </script>
</body>
</html>