@using Shared;
@{
    ViewData["Title"] = "Form Editor";
}

<div id="appHeader" class="builderPageHeader">
    <div id="leftHeader">
        <div class="row">
            <label id="builderTitleLabel" for="builderTitle">Title:</label>
            <input type="text" id="builderTitle" value="Title" />
        </div>
        <div class="row">
            <label for="formState">State(s):</label>
            @foreach (InvoiceState state in Enum.GetValues(typeof(InvoiceState)))
            {
                <input type="checkbox" class="noDisplay check" id="@state.ToString()" value="@((int)state)" />
                <label for="@state.ToString()" class="checkLabel">@state.ToString()</label>
            }
        </div>
    </div>
    <div id="rightHeader">
        <a href="/FormEditor" class="button"><img src="~/images/back.svg" /> Back to Forms</a>
        <button id="saveButton"><img src="~/images/save.png" /> Save Form</button>
    </div>
</div>

<div id="formBuilder">
    <div id="builderRight">
        <div id="shapes">
            <h3>Shapes</h3>
        </div>
        <div id="properties">
            <h3>Properties</h3>
        </div>
    </div>
    <div id="builderMain">
        <div id="canvasHolder">
            <div class="spacer"></div>
            <canvas id="editor" tabindex="0"></canvas>
            <div class="spacer"></div>
        </div>
    </div>
    <div id="builderBottom">
        <div id="zoom"></div>
    </div>
</div>
<dialog id="imagePicker">
    <div id="formImages"></div>
    <div class="saveButton">
        <button>Choose Image</button>
    </div>
</dialog>

<script type="text/javascript" src="~/js/prototypes.js"></script>
<script type="text/javascript" src="~/js/helpers.js"></script>
<script type="text/javascript" src="~/js/Constants.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/BaseEventType.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/KeyboardEvent.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/MouseEvent.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/EventArgs.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/MouseEventArgs.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/KeyboardEventArgs.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/ObjectChangedEventArgs.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/PropertyChangedEventArgs.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/ScaleChangeEventArgs.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Statics/Keyboard.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Statics/Mouse.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Statics/HtmlTextBox.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Statics/ObjProp.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Statics/ToolTip.js"></script>
<script type="text/javascript" src="~/js/ContextMenu.js"></script>
<script type="text/javascript" src="~/js/Events/Subscribable.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/BaseTypes/SubscribableProperty.js"></script>
<script type="text/javascript" src="~/js/Events/EventPropagator.js"></script>
<script type="text/javascript" src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script type="text/javascript" src="~/js/HelperTypes/HTMLElements/TextInput.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/bases/Shape.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/AnchorHandle.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/Appearance.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/Border.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/Font.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Canvas.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/Caption.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/Layout.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Properties/TRBL.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/Binding.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/bases/FBObject.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/bases/TextBlock.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/BasicShape.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/Box.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/Warning.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/Ellipse.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/Cell.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/FBTextBlock.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/CheckBox.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/Table.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FBObjects/FBImage.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/FormBuilder.js"></script>

<script type="text/javascript">
    const fb = new FormBuilder();
</script>
