@{
    ViewData["Title"] = "Invoice Forms";
}

<h1>Invoice Forms</h1>

<a href="/FormEditor/Edit/" class="button"><img src="~/images/add.svg" /> Add Form</a>

<table id="formsList" class="dataTableList">
    <tr>
        <th data-column="title">Title</th>
    </tr>
</table>


<script type="text/javascript" src="~/js/Events/EventTypes/BaseEventType.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/MouseEvent.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/KeyboardEvent.js"></script>
<script type="text/javascript" src="~/js/helpers.js"></script>
<script type="text/javascript" src="~/js/Constants.js"></script>
<script type="text/javascript" src="~/js/prototypes.js"></script>
<script type="text/javascript" src="~/js/Events/Subscribable.js"></script>
<script type="text/javascript" src="~/js/Events/SubscribableProperty.js"></script>
<script type="text/javascript" src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/InvoiceForms.js"></script>