@using Database.Tables;
@using Shared;
@model Invoice


<form method="post" action="#" id="invoiceForm">
    <div id="invoiceData">
        <div>Invoice Number: @Model.InvoiceID</div>
        <div>Invoice Date: @Model.InvoiceDate.ToString("yyyy-MM-dd")</div>
    </div>
    <div id="invoiceState" class="row">
        <label class="cell" for="invoiceState">Invoice State</label>
        <select class="cell" id="invoicState" asp-items="@Html.GetEnumSelectList<InvoiceState>()"></select>
    </div>
    <div id="invoiceCustomerDiv" class="row">
        <div>
            <label for="getCustomerButton">Customer Name: </label>
            <input id="invoiceCustomer" disabled="disabled" />
            <button id="getCustomerButton">•••</button>
        </div>
        <dialog id="invoiceCustomerData">
            <div id="contactsList">
                <h1>Contacts</h1>
                <div></div>
            </div>
            <div class="row">
                <a href="#" id="showContacts">Show Contacts</a>
                <a href="#" id="showCustom">Enter New Customer</a>
            </div>
            <div id="newCustomer">
                <h1>Buyer Information</h1>
                <h2>Name</h2>
                <div id="invoiceName" class="row">
                    <input data-bind="FirstName" type="text" placeholder-title="Buyer.User.FirstName"
                    /><input data-bind="LastName" type="text" placeholder-title="Buyer.User.LastName" />
                </div>
                <h2>Contact</h2>
                <div id="invoiceContact" class="row">
                    <input data-bind="Email" type="text" placeholder-title="Buyer.User.Email"
                    /><input data-bind="PhoneNumber" type="text" placeholder-title="Buyer.PhoneNumbers[0].Number" />
                </div>
                <div id="invoiceAddress">
                    <h2>Address</h2>
                    <div id="invoiceStreetAddr" class="row">
                        <input data-bind="StreetAddress" type="text" placeholder-title="Buyer.Address.StreetAddress" />
                    </div>
                    <div class="row">
                        <input class="invoiceAddrCity" data-bind="City" type="text" placeholder-title="Buyer.Address.City"
                        /><input class="invoiceAddrState" data-bind="State" type="text" placeholder-title="Buyer.Address.State" maxlength="2"
                        /><input class="invoiceAddrZip" data-bind="ZipCode" type="text" placeholder-title="Buyer.Address.ZipCode" maxlength="6" />
                    </div>
                </div>
                <div id="invoiceBusinessInfo">
                    <h1>Business Information</h1>
                    <input class="row" data-bind="CompanyName" type="text" placeholder-title="Buyer.CompanyName" />
                    <input class="row" data-bind="DealerLicenseNumber" type="text" placeholder-title="Buyer.DealerLicenseNumber" />
                    <input class="row" data-bind="MCNumber" type="text" placeholder-title="Buyer.MCNumber" />
                    <input class="row" data-bind="ResaleNumber" type="text" placeholder-title="Buyer.ResaleNumber" />
                </div>
            </div>
            <button id="closeCustomerDialog" class="row">Save</button>
        </dialog>
    </div>
    <div id="invoiceLienHolderDiv" class="row">
        <div>
            <label for="getLienButton">Lien Holder:</label>
            <input id="invoiceLienHolder" disabled="disabled" />
            <button id="getLienButton">•••</button>
        </div>
        <dialog id="invoiceLienHolderData">
            <div class="row">
                <input class="lienInputFullWidth" data-bind="Name" type="text" placeholder-title="LienHolder.Name" />
            </div>
            <div id="invoiceLienAddress">
                <div class="row">
                    <input class="lienInputFullWidth" data-bind="StreetAddress" type="text" placeholder-title="LienHolder.Address.StreetAddress" />
                </div>
                <div class="row">
                    <input class="invoiceAddrCity" data-bind="City" type="text" placeholder-title="LienHolder.Address.City"
                    /><input class="invoiceAddrState" data-bind="State" type="text" placeholder-title="LienHolder.Address.State" maxlength="2"
                    /><input class="invoiceAddrZip" data-bind="ZipCode" type="text" placeholder-title="LienHolder.Address.ZipCode" maxlength="6" />
                </div>
            </div>
            <div id="invoiceBusinessInfo" class="row">
                <input class="lienInputFullWidth" data-bind="EIN" type="text" placeholder-title="LienHolder.EIN" />
            </div>
            <button id="closeLienDialog">Save</button>
        </dialog>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="stockNo">Stock #</div>
                <div class="vin">VIN</div>
                <div class="year">Year</div>
                <div class="make">Make</div>
                <div class="model">Model</div>
                <div class="miles">Miles / Hours</div>
                <div class="location">Location</div>
                <div class="price">Unit Price</div>
            </div>
            <div class="dataRow" id="vehicleTemplate">
                <div class="stockNo"><input type="text" data-bind="StockNum" /></div>
                <div class="vin"><input type="text" data-bind="VIN" data-vin /></div>
                <div class="year disabled"><input type="text" data-bind="Year" disabled="disabled" /></div>
                <div class="make disabled"><input type="text" data-bind="Make" disabled="disabled" /></div>

                <div class="model"><input type="text" data-bind="Model" /></div>
                <div class="miles"><input type="text" data-bind="Miles" /></div>
                <div class="location"><input type="text" data-bind="Location" /></div>
                <div class="price"><input type="text" data-bind="Price" data-money /></div>
            </div>
        </div>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="miscChargeDesc">Miscellaneous Charge</div>
                <div class="price">Price</div>
            </div>
            <div class="dataRow" id="miscChargeTemplate">
                <div class="miscChargeDesc"><input type="text" data-bind="Description" /></div>
                <div class="price"><input type="text" data-bind="Price" /></div>
            </div>
        </div>
    </div>

    <div id="endData">
        <div>
            <div class="endLabel">Tax:</div>
            <div class="price"><input type="text" id="tax" /></div>
        </div>
        <div>
            <div class="endLabel">Doc Fee:</div>
            <div class="price"><input type="text" id="docFee" /></div>
        </div>
        <div>
            <div class="endLabel">Down Payment:</div>
            <div class="price"><input type="text" id="downPayment" /></div>
        </div>
        <div>
            <div class="endLabel">Total Due:</div>
            <div id="invoiceTotalDue">$ 0.00</div>
        </div>
    </div>

    <div>
        <input type="submit" name="draft" value="Save Draft" />
        <input type="submit" name="submit" value="Save Invoice" />
    </div>
</form>

<script src="~/js/Events/EventTypes/EventArgs.js"></script>
<script src="~/js/Events/EventTypes/PropertyChangedEventArgs.js"></script>

<script src="~/js/Invoice/Constants.js"></script>
<script src="~/js/Constants.js"></script>
<script src="~/js/Events/Subscribable.js"></script>
<script src="~/js/Events/SubscribableProperty.js"></script>
<script src="~/js/helpers.js"></script>
<script src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script src="~/js/HelperTypes/HTMLElements/TextInput.js"></script>
<script src="~/js/HelperTypes/HTMLElements/NumricInput.js"></script>
<script src="~/js/HelperTypes/HTMLElements/MoneyInput.js"></script>
<script src="~/js/Invoice/Vehicle.js"></script>
<script src="~/js/Invoice/MiscCharge.js"></script>
<script src="~/js/Invoice/Customer.js"></script>
<script src="~/js/Invoice/LienHolder.js"></script>
<script src="~/js/Invoice/Invoice.js"></script>
