@using Database.Tables;
@using Shared;
@model Invoice

@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(),
                                   ViewContext.RouteData.Values["controller"].ToString(),
                                   new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true,
                                   new { id = "invoiceForm" }))
{
    <div id="invoiceData">
        <div>Invoice Number: @Model.InvoiceID</div>
        <div>Invoice Date: @Model.InvoiceDate.ToString("yyyy-MM-dd")</div>
    </div>
    <div id="invoiceState" class="row">
        <label class="cell" asp-for="State">Invoice State</label>
        <select class="cell" asp-for="State" asp-items="Html.GetEnumSelectList<InvoiceState>()"></select>
    </div>
    <div id="invoiceCustomerDiv" class="row">
        <div>
            <label for="getCustomerButton">Customer Name: </label>
            <input id="invoiceCustomer" disabled="disabled" />
            <button id="getCustomerButton">•••</button>
        </div>
        <dialog id="invoiceCustomerData">
            <div id="contactsList">
                <h1>Contacts</h1>
                <div></div>
            </div>
            <div class="row">
                <a href="#" id="showContacts">Show Contacts</a>
                <a href="#" id="showCustom">Enter New Customer</a>
            </div>
            <div id="newCustomer">
                <h1>Buyer Information</h1>
                <h2>Name</h2>
                <div id="invoiceName" class="row">
                    <input asp-for="Buyer.User.FirstName" type="text" placeholder-title="Buyer.User.FirstName" /
                    ><input asp-for="Buyer.User.LastName" type="text" placeholder-title="Buyer.User.LastName" />
                </div>
                <h2>Contact</h2>
                <div id="invoiceContact" class="row">
                    <input asp-for="Buyer.User.Email" type="text" placeholder-title="Buyer.User.Email" /
                    ><input asp-for="Buyer.PhoneNumbers[0].Number" type="text" placeholder-title="Buyer.PhoneNumbers[0].Number" />
                </div>
                <div id="invoiceAddress">
                    <h2>Address</h2>
                    <div id="invoiceStreetAddr" class="row">
                        <input asp-for="Buyer.Address.StreetAddress" type="text" placeholder-title="Buyer.Address.StreetAddress" />
                    </div>
                    <div class="row">
                        <input class="invoiceAddrCity" asp-for="Buyer.Address.City" type="text" placeholder-title="Buyer.Address.City" /
                        ><input class="invoiceAddrState" asp-for="Buyer.Address.State" type="text" placeholder-title="Buyer.Address.State" maxlength="2" /
                        ><input class="invoiceAddrZip" asp-for="Buyer.Address.ZipCode" type="text" placeholder-title="Buyer.Address.ZipCode" maxlength="6" />
                    </div>
                </div>
                <div id="invoiceBusinessInfo">
                    <h1>Business Information</h1>
                    <input class="row" asp-for="Buyer.CompanyName" type="text" placeholder-title="Buyer.CompanyName" />
                    <input class="row" asp-for="Buyer.DealerLicenseNumber" type="text" placeholder-title="Buyer.DealerLicenseNumber" />
                    <input class="row" asp-for="Buyer.MCNumber" type="text" placeholder-title="Buyer.MCNumber" />
                    <input class="row" asp-for="Buyer.ResaleNumber" type="text" placeholder-title="Buyer.ResaleNumber" />
                </div>
            </div>
            <button id="closeCustomerDialog" class="row">Save</button>
        </dialog>
    </div>
    <div id="invoiceLienHolderDiv" class="row">
        <div>
            <label for="getLienButton">Lien Holder:</label>
            <input id="invoiceLienHolder" disabled="disabled" />
            <button id="getLienButton">•••</button>
        </div>
        <dialog id="invoiceLienHolderData">
            <div id="invoiceLienName" class="row">
                <input class="lienInputFullWidth" asp-for="LienHolder.Name" type="text" placeholder-title="LienHolder.Name" />
            </div>
            <div id="invoiceLienAddress">
                <div id="invoiceStreetAddr" class="row">
                    <input class="lienInputFullWidth" asp-for="LienHolder.Address.StreetAddress" type="text" placeholder-title="LienHolder.Address.StreetAddress" />
                </div>
                <div class="row">
                    <input class="invoiceAddrCity" asp-for="LienHolder.Address.City" type="text" placeholder-title="LienHolder.Address.City" /
                    ><input class="invoiceAddrState" asp-for="LienHolder.Address.State" type="text" placeholder-title="LienHolder.Address.State" maxlength="2" /
                    ><input class="invoiceAddrZip" asp-for="LienHolder.Address.ZipCode" type="text" placeholder-title="LienHolder.Address.ZipCode" maxlength="6" />
                </div>
            </div>
            <div id="invoiceBusinessInfo" class="row">
                <input class="lienInputFullWidth" asp-for="LienHolder.EIN" type="text" placeholder-title="LienHolder.EIN" />
            </div>
            <button id="closeLienDialog">Save</button>
        </dialog>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="stockNo">Stock #</div>
                <div class="vin">VIN</div>
                <div class="year">Year</div>
                <div class="make">Make</div>
                <div class="model">Model</div>
                <div class="miles">Miles / Hours</div>
                <div class="location">Location</div>
                <div class="price">Unit Price</div>
            </div>
            <div class="dataRow" data-repeating>
                <div class="stockNo"><input type="text" /></div>
                <div class="vin"><input type="text" /></div>
                <div class="year disabled"><input type="text" disabled="disabled" /></div>
                <div class="make disabled"><input type="text" disabled="disabled" /></div>
                <div class="model"><input type="text" /></div>
                <div class="miles"><input type="text" /></div>
                <div class="location"><input type="text" /></div>
                <div class="price"><input type="text" data-money /></div>
            </div>
        </div>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="miscChargeDesc">Miscellaneous Charge</div>
                <div class="price">Price</div>
            </div>
            <div class="dataRow" data-repeating>
                <div class="miscChargeDesc"><input type="text" /></div>
                <div class="price"><input type="text" data-money /></div>
            </div>
        </div>
    </div>

    <div id="endData">
        <div>
            <div class="endLabel">Tax:</div>
            <div class="price"><input type="text" data-money /></div>
        </div>
        <div>
            <div class="endLabel">Doc Fee:</div>
            <div class="price"><input type="text" data-money /></div>
        </div>
        <div>
            <div class="endLabel">Down Payment:</div>
            <div class="price"><input type="text" data-money /></div>
        </div>
        <div>
            <div class="endLabel">Total Due:</div>
            <div id="invoiceTotalDue">$ 0.00</div>
        </div>
    </div>
}
<script src="~/js/invoiceInputs.js"></script>
<script src="~/js/invoiceCustomer.js"></script>
<script src="~/js/previewContacts.js"></script>
