@using Database.Tables;
@using Shared;
@model Invoice


<form method="post" action="#" id="invoiceForm">
    <div id="invoiceHeader">
        <div id="leftHeader">
            <button id="saveButton"><img src="~/images/save.png" /> Save Invoice</button>
            @if (Model.InvoiceID > 0)
            {
                <button id="deleteButton"><img src="~/images/cancel.png" /> Delete Invoice</button>
            }
        </div>
    </div>
    <div id="invoiceData">
        @if (Model.InvoiceID > 0)
        {
            <p>Invoice @Model.InvoiceID</p>
        }
        else
        {
            <p>New Invoice</p>
        }
        <div><b>Date:</b> @Model.InvoiceDate.ToString("yyyy-MM-dd")</div>
    </div>
    <div id="invoiceState" class="row">
        <label class="cell invoiceTopLeft" for="invoiceState">Invoice State:</label>
        <select class="cell" id="invoicState" asp-items="@Html.GetEnumSelectList<InvoiceState>()"></select>
    </div>
    <div id="invoiceCustomerDiv" class="row">
        <div>
            <label for="openCustomerButton" class="invoiceTopLeft">Buyer Name: </label>
            <input id="invoiceCustomer" disabled="disabled" />
            <button id="openCustomerButton">•••</button>
        </div>
        <dialog id="invoiceCustomerData" class="invoiceDialog">
            <div id="contactsList">
                <h1>Contacts</h1>
                <div></div>
            </div>
            <div class="row">
                <a href="#" id="showContacts">Show Contacts</a>
                <a href="#" id="showCustom">Enter New Customer</a>
            </div>
            <div id="newCustomer">
                <h1>Buyer Information</h1>
                <h2>Name</h2>
                <div id="invoiceName" class="row">
                    <input data-bind="firstName" type="text" autocomplete="given-name" placeholder-title="Buyer.User.FirstName" /><input data-bind="lastName" type="text" autocomplete="family-name" placeholder-title="Buyer.User.LastName" />
                </div>
                <h2>Contact</h2>
                <div id="invoiceContact" class="row">
                    <input data-bind="email" type="email" autocomplete="email" placeholder-title="Buyer.User.Email" /><input data-bind="number" type="text" autocomplete="tel" placeholder-title="Buyer.PhoneNumbers[0].Number" />
                </div>
                <div id="invoiceAddress">
                    <h2>Address</h2>
                    <div id="invoiceStreetAddr" class="row">
                        <input class="fullWidth" data-bind="streetAddress" type="text" autocomplete="street-address" placeholder-title="Buyer.Address.StreetAddress" />
                    </div>
                    <div class="row">
                        <input class="invoiceAddrCity" data-bind="city" type="text" autocomplete="address-level2" placeholder-title="Buyer.Address.City" /><input class="invoiceAddrState" data-bind="state" type="text" autocomplete="address-level1" placeholder-title="Buyer.Address.State" /><input class="invoiceAddrZip" data-bind="zipCode" type="text" autocomplete="postal-code" placeholder-title="Buyer.Address.ZipCode" maxlength="5" />
                    </div>
                </div>
                <div id="invoiceBusinessInfo">
                    <h1>Business Information</h1>
                    <input class="row" data-bind="companyName" type="text" autocomplete="organization" placeholder-title="Buyer.CompanyName" />
                    <input class="row" data-bind="dealerLicenseNumber" type="text" placeholder-title="Buyer.DealerLicenseNumber" />
                    <input class="row" data-bind="mcNumber" type="text" placeholder-title="Buyer.MCNumber" />
                    <input class="row" data-bind="resaleNumber" type="text" placeholder-title="Buyer.ResaleNumber" />
                </div>
            </div>

            <div class="saveButton">
                <button id="hideCustomerButton">Save Customer</button>
            </div>
        </dialog>
    </div>
    <div id="invoiceLienHolderDiv" class="row">
        <div>
            <label for="openLienButton" class="invoiceTopLeft">Lien Holder:</label>
            <input id="invoiceLienHolder" disabled="disabled" />
            <button id="openLienButton">•••</button>
        </div>
        <dialog id="invoiceLienHolderData" class="invoiceDialog">
            <h1>Lien Holder</h1>
            <div class="row">
                <input class="fullWidth" data-bind="name" type="text" autocomplete="organization" placeholder-title="LienHolder.Name" />
            </div>
            <div id="invoiceLienAddress">
                <div class="row">
                    <input class="fullWidth" data-bind="streetAddress" type="text" autocomplete="street-address" placeholder-title="LienHolder.Address.StreetAddress" />
                </div>
                <div class="row">
                    <input class="invoiceAddrCity" data-bind="city" type="text" autocomplete="address-level2" placeholder-title="LienHolder.Address.City" /><input class="invoiceAddrState" data-bind="state" type="text" autocomplete="address-level1" placeholder-title="LienHolder.Address.State" maxlength="2" /><input class="invoiceAddrZip" data-bind="zipCode" type="text" autocomplete="postal-code" placeholder-title="LienHolder.Address.ZipCode" maxlength="5" />
                </div>
            </div>
            <div id="invoiceBusinessInfo" class="row">
                <input class="lienInputFullWidth" data-bind="ein" type="text" placeholder-title="LienHolder.EIN" />
            </div>
            <div class="saveButton">
                <button id="closeLienButton">Save Lien Holder</button>
            </div>
        </dialog>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="stockNo">Stock #</div>
                <div class="vin">VIN</div>
                <div class="year">Year</div>
                <div class="make">Make</div>
                <div class="model">Model</div>
                <div class="miles">Miles / Hours</div>
                <div class="location">Location</div>
                <div class="price">Unit Price</div>
            </div>
            <div class="dataRow" id="vehicleTemplate">
                <div class="stockNo"><input type="text" data-bind="stockNum" /></div>
                <div class="vin"><input type="text" data-bind="vin" data-vin /></div>
                <div class="year disabled"><input type="text" data-bind="year" disabled="disabled" /></div>
                <div class="make disabled"><input type="text" data-bind="make" disabled="disabled" /></div>

                <div class="model"><input type="text" data-bind="model" /></div>
                <div class="miles"><input type="text" data-bind="miles" /></div>
                <div class="location"><input type="text" data-bind="location" /></div>
                <div class="price"><input type="text" data-bind="price" data-money /></div>
            </div>
        </div>
    </div>

    <div class="dataTable">
        <div>
            <div class="dataRow">
                <div class="miscChargeDesc description">Miscellaneous Charge</div>
                <div class="price">Price</div>
            </div>
            <div class="dataRow" id="miscChargeTemplate">
                <div class="miscChargeDesc description"><input type="text" data-bind="description" /></div>
                <div class="price"><input type="text" data-bind="price" /></div>
            </div>
        </div>
    </div>

    <!-- Need this here so #endData doesn't mess with stuff -->
    <dialog id="paymentsData">
        <div class="dataTable">
            <div>
                <div class="dataRow">
                    <div class="paymentDate">Date</div>
                    <div class="paymentDesc description">Description</div>
                    <div class="price">Amount</div>
                </div>
                <div class="dataRow" id="paymentTemplate">
                    <div class="paymentDate"><input type="date" data-bind="date" /></div>
                    <div class="paymentDesc description"><input type="text" data-bind="description" /></div>
                    <div class="price"><input type="text" data-bind="amount" /></div>
                </div>
            </div>
        </div>
        <div id="paymentEndData">
            <div class="endLabel"><b>Total Payments:</b></div>
            <div id="totalPaymentsInner">$ 0.00</div>
        </div>

        <div class="saveButton">
            <button id="closePaymentsButton">Save Payments</button>
        </div>
    </dialog>

    <div id="endData">
        <div>
            <div class="endLabel">Tax:</div>
            <div class="price"><input type="text" id="tax" /></div>
        </div>
        <div>
            <div class="endLabel">Doc Fee:</div>
            <div class="price"><input type="text" id="docFee" /></div>
        </div>
        <div>
            <div class="endLabel">Down Payment:</div>
            <div class="price"><input type="text" id="downPayment" /></div>
        </div>
        <div>
            <div class="endLabel"><a href="#" id="openPaymentsButton">Total Payments</a>:</div>
            <div id="totalPayments">$ 0.00</div>
        </div>
        <div>
            <div class="endLabel">Total Due:</div>
            <div id="invoiceTotalDue">$ 0.00</div>
        </div>
    </div>
</form>

<script src="~/js/Events/EventTypes/EventArgs.js"></script>
<script src="~/js/Events/EventTypes/PropertyChangedEventArgs.js"></script>
<script src="~/js/Events/EventTypes/DataSavedEventArgs.js"></script>
<script src="~/js/Events/EventTypes/ObjectDestroyedEventArgs.js"></script>

<script src="~/js/Invoice/Constants.js"></script>
<script src="~/js/Constants.js"></script>
<script src="~/js/Events/Subscribable.js"></script>
<script src="~/js/Events/SubscribableProperty.js"></script>
<script src="~/js/helpers.js"></script>
<script src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script src="~/js/HelperTypes/HTMLElements/SpanElement.js"></script>
<script src="~/js/HelperTypes/HTMLElements/TextInput.js"></script>
<script src="~/js/HelperTypes/HTMLElements/NumericInput.js"></script>
<script src="~/js/HelperTypes/HTMLElements/MoneyInput.js"></script>
<script src="~/js/HelperTypes/HTMLElements/DateInput.js"></script>
<script src="~/js/Invoice/Vehicle.js"></script>
<script src="~/js/Invoice/MiscCharge.js"></script>
<script src="~/js/Invoice/User.js"></script>
<script src="~/js/Invoice/Address.js"></script>
<script src="~/js/Invoice/PhoneNumber.js"></script>
<script src="~/js/Invoice/CustomerPreview.js"></script>
<script src="~/js/Invoice/Customer.js"></script>
<script src="~/js/Invoice/LienHolder.js"></script>
<script src="~/js/Invoice/Payment.js"></script>
<script src="~/js/Invoice/Payments.js"></script>
<script src="~/js/Invoice/Invoice.js"></script>
