@{
    ViewData["Title"] = "Recent Invoices";
}

<h1>Recent Invoices</h1>

@if (User.HasClaim(c => c.Type == AccessPolicy.EditInvoicePrivilege || c.Type == AccessPolicy.AdminPrivilege))
{
    <a href="/Invoice/Edit/" class="button"><img src="~/images/add.svg" /> Add Invoice</a>
}

<table id="recentInvoicesList" class="dataTableList">
    <tr>
        <th data-column="createdDate">Date</th>
        <th data-column="invoiceNum">Invoice Num</th>
        <th data-column="buyerName">Buyer Name</th>
        <th data-column="invoiceTotal">Invoice Total</th>
        <th data-column="totalDue">Total Due</th>
        <th data-column="salesPerson">Sales Person</th>
    </tr>
</table>

<script type="text/javascript" src="~/js/Events/EventTypes/BaseEventType.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/MouseEvent.js"></script>
<script type="text/javascript" src="~/js/Events/EventTypes/KeyboardEvent.js"></script>
<script type="text/javascript" src="~/js/helpers.js"></script>
<script type="text/javascript" src="~/js/Constants.js"></script>
<script type="text/javascript" src="~/js/prototypes.js"></script>
<script type="text/javascript" src="~/js/Events/Subscribable.js"></script>
<script type="text/javascript" src="~/js/Events/SubscribableProperty.js"></script>
<script type="text/javascript" src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script type="text/javascript" src="~/js/Invoice/InvoicePreview.js"></script>
<script type="text/javascript" src="~/js/Invoice/RecentInvoices.js"></script>