@{
    ViewData["Title"] = "Recent Invoices";
}

<h1>Recent Invoices</h1>

<table id="recentInvoicesList">
    <tr>
        <th data-sort="createdDate">Date</th>
        <th data-sort="invoiceNumber">Invoice Num</th>
        <th data-sort="buyerName">Buyer Name</th>
        <th data-sort="invoiceTotal">Invoice Total</th>
        <th data-sort="totalDue">Total Due</th>
    </tr>
</table>

<script type="text/javascript" src="~/js/helpers.js"></script>
<script type="text/javascript" src="~/js/Constants.js"></script>
<script type="text/javascript" src="~/js/prototypes.js"></script>
<script type="text/javascript" src="~/js/Events/Subscribable.js"></script>
<script type="text/javascript" src="~/js/Events/SubscribableProperty.js"></script>
<script type="text/javascript" src="~/js/HelperTypes/HTMLElements/BaseHtmlElement.js"></script>
<script type="text/javascript" src="~/js/Invoice/Constants.js"></script>
<script type="text/javascript" src="~/js/Invoice/InvoicePreview.js"></script>
<script type="text/javascript" src="~/js/Invoice/RecentInvoices.js"></script>