body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {clear:both;}

select[disabled]{background:#ebebe4;}
input, select {height:20px;line-height:20px;box-sizing:content-box;border:1px solid #a9a9a9;padding:2px 1px;}
input:focus, select:focus {box-shadow:0 0 0 #5394ff;}
dialog {padding:15px;}
dialog div.saveButton {margin:10px -15px -15px;padding:7px 15px;background:#f0f0f0;border-top:1px solid #bbb;overflow:hidden;}
dialog div.saveButton button {float:right;}

input[data-error] {box-shadow:0 0 5px 1px #800;}
input[type=date]::-webkit-clear-button {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=date]::-webkit-calendar-picker-indicator {display:none;}
input[type=date]::-webkit-clear-button {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=date]:focus::-webkit-calendar-picker-indicator, input[type=date]:hover::-webkit-calendar-picker-indicator {display:block;}

#dashboard {overflow:hidden;max-width:730px;margin:auto;}
#dashboard .dashboardButton {position:relative;width:200px;height:200px;float:left;margin:20px;background:#efefef;border:2px solid #999;
                             color:#555;}
#dashboard .dashboardButton:hover {color:#000;}
#dashboard .dashboardButton p {text-align:center;position:absolute;bottom:0;width:100%;font-size:18px;margin:5px 0;}

.invoiceDialog input {box-sizing:border-box;height:auto;}
.invoiceDialog > div {margin:0 0 10px;}
.invoiceDialog  h1 {font-size:1.3em;margin:0 0 .2em}
.invoiceDialog  h2 {font-size:1.1em;margin:.5em 0 .2em;}
.invoiceDialog .invoiceAddrCity {width:220px;margin-right:10px;}
.invoiceDialog .invoiceAddrState {width:50px;margin-right:10px;}
.invoiceDialog .invoiceAddrZip {width:100px;margin-right:10px;}
.invoiceDialog .fullWidth {width:390px;}
.invoiceDialog .row {margin-left:1em;}

#invoiceCustomerData {width:450px;}
#invoiceCustomerData #invoiceName input, #invoiceContact input {width:190px;margin-right:10px;}
#invoiceCustomerData #invoiceAddress {margin-bottom:.5em;}
#invoiceCustomerData #invoiceBusinessInfo input {width:200px;}
#invoiceCustomerData #showContacts, #newCustomer {display:none;}

.dataTable {overflow:hidden;margin-top:1em;}
.dataTable > div {border:solid #333; border-width:0 0 1px 1px;float:left;}
.dataTable > div > div:nth-child(odd) > div {background:#eee;}
.dataTable .dataRow div {float:left;padding:3px;border:solid #333;border-width:1px 1px 0 0;}
.dataTable .dataRow input {width:100%;border:0;padding:0;margin:0;text-align:center;}
.dataTable .dataRow, #miscChargeTable .dataRow {text-align:center;font-weight:bold;overflow:hidden;}
.dataTable .disabled, #vehicleTable .disabled * {background:#f5f5f5;}
.dataTable .stockNo {width:100px;}
.dataTable .vin {width:200px;}
.dataTable .year {width:75px;}
.dataTable .make {width:125px;}
.dataTable .model {width:100px;}
.dataTable .miles {width:100px;}
.dataTable .location {width:100px;}
.dataTable .price {width:100px;}
.dataTable .price input {text-align:right;}
.dataTable .miscChargeDesc {width:800px;}
.dataTable .paymentDesc {width:400px}
.dataTable .paymentDate {width:100px}
.dataTable .description {text-align:left}
.dataTable .description input {text-align:left}

#endData{margin:10px 0;overflow:hidden;}
#endData > div {margin:5px 0;overflow:hidden;}
#endData .endLabel {width:790px;margin-right:10px;text-align:right;float:left;clear:left;}
#endData .price {width:93px;float:left;}
#endData .price input {width:100%;text-align:right;border:1px solid #333;padding:1px 3px;}
#endData #invoiceTotalDue, #endData #totalPayments {text-align:right;padding-right:5px;width:100px;float:left;}

#paymentEndData {margin:5px 0;overflow:hidden;}
#paymentEndData .endLabel { width:calc(100% - 110px);text-align:right;float:left;clear:left;margin-right:10px;}
#paymentEndData #totalPaymentsInner {text-align:right;padding-right:5px;width:100px;float:left;}

.stackedLabel {margin-right:1em;}
.stackedLabel label {display:block;font-size:11px;margin:0;}

.row {display:block;margin:5px 0 0;}
.cell {float:left;}

.contactPreviewItem {border-left:2px solid #ccc;margin:.5em 0;padding:0 .5em}
.contactPreviewItem:hover {border-left:2px solid #059;cursor:pointer;}
.contactPreviewItem p {margin:0;}

#chosenContact {border-left:4px solid #059;background:#f5fcff;}

.loadingSpinner {width:100px;}
.centerSpinner {display:block;margin:auto;}

#appHeader {margin:1em 0;overflow:hidden;padding-bottom:.5em;border-bottom:1px solid #bbb;}
#appHeader #leftHeader {float:left;}
#appHeader #leftHeader #deleteButton {background:#dadada;border:1px solid #aaa;}
#appHeader #leftHeader #deleteButton:hover {background:#dfdfdf;border-color:maroon;color:maroon;}
#appHeader #rightHeader {float:right;}
#appHeader button {margin-right:.5em;padding:4px;}
#appHeader button img {position:relative;top:-1px;}

#appHeader.builderPageHeader {position:fixed;right:0;left:0;border-bottom:2px solid black;z-index:7;margin:10px 0;padding-bottom:5px;}

.invoiceTopLeft{float:left;width:125px;}

#invoiceData {margin-bottom:1em;}
#invoiceData p {font-size:1.7em;font-weight:bold;margin-bottom:0;}

#contactSearchBar {position:relative;}
#contactSearchBar input {width:100%;height:28px;margin-right:10px;padding-right:42px;}
#contactSearchBar input:focus + div {background:linear-gradient(#699ae9, #5494ff);}
#contactSearchBar input:focus + div > svg path{fill:#fafafa!important;}
#contactSearchBar div {width:40px;height:28px;text-align:center;padding-top:6px;background:linear-gradient(#d0d0d0, #c4c4c4);
                       position:absolute;right:0;cursor:pointer;}

#contactsList[data-search] > div {display:none}
#contactsList[data-search] > div[data-foundResult] {display:block;}

#recentInvoicesList {border-collapse:collapse}
#recentInvoicesList td, #recentInvoicesList th {border:1px solid #d0d0d0;padding:0 10px;font-size:14px;line-height:24px;}
#recentInvoicesList th {background:#eee;cursor:pointer}
#recentInvoicesList th#sorted::after {display:inline-block;content:'';width:10px;height:12px;background-image:url('/images/sortArrow.svg');
                                      background-repeat:no-repeat;background-size:10px 5px;background-position:center;margin-left:4px;}
#recentInvoicesList th#sorted.desc::after {transform:scaleY(-1);height:8px;}
#recentInvoicesList td {cursor:pointer;}
#recentInvoicesList tr:hover {background:#f5fcff}
.right {text-align:right;}

#viewInvoice #appHeader #saveButton, #viewInvoice #appHeader #deleteButton {display:none;}

#builderBottom{position:fixed;bottom:0;left:0;right:300px;background:white;z-index:10;border-top:2px solid black;}
#builderRight{position:fixed;right:0;top:100px;bottom:0;z-index:10;border-left:1px solid black;}
#builderMain{position:fixed;top:100px;right:300px;bottom:50px;left:0;overflow:auto;}

#builderTitleEdit {position:relative;float:left;margin-left:1em;}
#builderTitle {float:left;font-size:24px;font-weight:bold;margin-left:-20px;font-style:italic;width:calc(100vw - 400px);
               border-width:0 0 1px 0;padding-left:30px;}

#canvasHolder {position:relative;box-sizing:border-box;
               z-index:5;}
#canvasHolder .spacer {height:7px;width:100%;}
#contextMenu {position:absolute;left:-999px;z-index:999;list-style:none;font-family:Arial,sans-serif;
              border:1px solid darkgray;margin:0;padding:5px 0;font-size:14px;line-height:24px;
              box-shadow: 3px 5px 10px darkgray;min-width:125px;user-select:none;-webkit-user-select:none;
              background:white;}
#contextMenu li {padding:0 20px 0 10px;cursor:default;}
#contextMenu li:hover {color:white;background:#0066aa;}
#contextMenu .contextSeparator {border-top:1px solid #777;border-bottom:1px solid #ddd;}
#zoom {text-align:center;height:50px;}
#zoom #zoomIn {width:30px;margin:10px;background:url('/images/FormBuilder/zoomIn.svg');background-size:100%;cursor:pointer;}
#zoom #zoomOut {width:30px;margin:10px;background:url('/images/FormBuilder/zoomOut.svg');background-size:100%;cursor:pointer;}
#zoom div {display:inline-block;text-align:center;height:30px;line-height:30px;vertical-align:middle;}
#editor {display:block;margin:auto;border:1px solid black;}

#shapes {padding:5px;overflow-x:hidden;width:300px;height:20vh;border:1px solid black;}
#formBuilder h3 {text-align:left;margin-top:.2em;}
#shapes div {float:left;width:90px;margin:0 0 5px 0;}
#shapes img {width:20px;height:20px;margin-right:10px;float:left;}
#shapes span {line-height:20px;float:left;}
#properties {float:left;width:300px;height:calc(80vh - 100px);overflow:auto;border:1px solid black;padding:5px;}
#properties label {float:left;clear:left;margin:5px 10px 5px 0;line-height:20px;}
#properties input, #properties select {height:20px;float:left;margin:5px 0;}
#properties fieldset legend {font-size:18px;}
#properties fieldset fieldset legend {font-size:14px;font-weight:bold;}

#formBuilderToolTip {position:absolute;top:-999px;left:-999px;border:1px solid #767676;background:#fff;padding:1px 4px;
                     box-shadow:rgba(0, 0, 0, .4) 3px 3px 4px;color:#575757;font-family:Tahoma;font-size:12px;}